body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: white;
}

.cat-fact-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 55vh;
  background-color: #dd5348;
  overflow: hidden;
}
.cat-fact-header img {
  height: 45vh;
}

.cat-fact-container {
  height: 45vh;
  padding: 20px;
}
.cat-fact-card {
  text-align: center;
  padding: 20px;
  max-width: 40vw;
}
@media (max-width: 1250px) {
  .cat-fact-card {
    max-width: 90vw;
  }
}

h1 {
  margin-bottom: 20px;
  color: #0f313b;
}

button {
  padding: 10px 20px;
  background-color: #dd5348;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff4757;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
